<mat-nav-list>
  <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="app-tree-node">
      <a mat-list-item [routerLinkActive]="'active-link'" [routerLink]="['/', node.path]">
        <mat-icon color="primary" class="sidenav-icon">{{ node.data.icon }}</mat-icon>
        <span class="sidenav-text">{{ node.data.text }}</span>
      </a>
    </cdk-nested-tree-node>
    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="app-tree-node">
      {{logNode(node)}}
      <a mat-list-item [attr.aria-label]="'Toggle ' + node.data.text" cdkTreeNodeToggle class="list-item-flex">

        <mat-icon color="primary" class="sidenav-icon">{{ node.data.icon }}</mat-icon>
        <span class="sidenav-text">{{ node.data.text }}</span>
        <span class="spacer"></span>
        <mat-icon color="primary" class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </a>
      <div [class.app-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container cdkTreeNodeOutlet></ng-container>
      </div>
    </cdk-nested-tree-node>
  </cdk-tree>
</mat-nav-list>
