.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav-container {
    flex: 1;

    .sidenav {
      padding: 8px;
      transition: width 200ms;
    }

    .main-container {
      padding: 8px;
    }
  }
}

#sidenav-content {
  transition: margin-left 200ms;
}

.setting-btton {
  opacity: 0.5;
}

.setting-button-container {
  top: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 48px;
  right: 0;
  height: 40px;
  opacity: 0.9;
  padding: 0;
  z-index: 10;
  position: fixed;
  min-width: 48px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
